@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar,#rightCvPart::-webkit-scrollbar,#cvInfoPart::-webkit-scrollbar{
  display: none;
}

